body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

canvas {
  display: block;
  flex-grow: 1;
}
